# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.md

# Arquivos e/ou diretórios a serem ignorados 

.ipynb_checkpoints
